.card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
}

.card-page {
  margin: 30px 0px;
}
.card-page .card-header-normal {
  display: flex;
  justify-content: space-between;
}
.card-page .card-header-normal .left {
  display: flex;
}
.card-page.collapsed .card-body {
  display: none;
}

.card-note .card-header {
  background-color: MistyRose;
}

.card-note.display-mode-normal .card-header-edit {
  display: none;
}
.card-note.display-mode-normal .rendered {
  display: block;
}
.card-note.display-mode-normal .edit {
  display: none;
}

.card-note.display-mode-edit .card-header-edit {
  display: block;
}
.card-note.display-mode-edit .card-header-normal {
  display: none;
}
.card-note.display-mode-edit .rendered {
  display: none;
}
.card-note.display-mode-edit .edit {
  display: block;
}

.card-checklist .card-header {
  background-color: lightcyan;
}
.card-checklist .checklist-item {
  display: flex;
  justify-content: space-between;
}
.card-checklist .checklist-item:hover {
  background-color: ghostwhite;
}
.card-checklist .checklist-item.completed .content {
  text-decoration: line-through;
}
.card-checklist .checklist-item-editor {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 5px 0px;
}
.card-checklist .checklist-item-editor .input {
  width: 100%;
}
.card-checklist .checklist-item-editor .buttons {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.card-checklist .checklist-item-editor .buttons button {
  margin: 0px 5px;
}

.card-checklist.display-mode-normal .card-header-edit {
  display: none;
}
.card-checklist.display-mode-normal .rendered {
  display: block;
}
.card-checklist.display-mode-normal .edit {
  display: none;
}

.card-checklist.display-mode-edit .card-header-normal {
  display: none;
}
.card-checklist.display-mode-edit .card-header-edit {
  display: flex;
  align-items: center;
}
.card-checklist.display-mode-edit .page-edit-name-container {
  width: 100%;
}
.card-checklist.display-mode-edit .card-header-edit .buttons {
  display: flex;
  margin-left: 30px;
}
.card-checklist.display-mode-edit .card-header-edit .buttons button {
  margin-left: 5px;
}

.card-page.hidden {
  display: none;
}

.notebook-action-list {
  margin-top: 40px;
}

.notebook-meta {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.notebook-meta .notebook-meta-description {
  color: #586069;
}

.notebook-meta-edit {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.notebook-meta-edit .inputs {
  width: 100%;
}
.notebook-meta-edit .inputs textarea,
.notebook-meta-edit .inputs input {
  width: 100%;
}
.notebook-meta-edit .buttons {
  display: flex;
  margin-left: 30px;
}
.notebook-meta-edit .buttons button {
  margin-left: 5px;
}

.list-notebooks .notebook .description {
  color: #586069;
  font-size: 12px;
}
.list-notebooks .notebook .page-counts,
.list-notebooks .notebook .description {
  margin-top: 10px;
}
.list-notebooks .notebook .page-counts {
  color: #586069;
}
.list-notebooks .notebook .page-counts-item {
  margin-right: 20px;
}
.list-notebooks .notebook .page-counts-item .page-count-data {
  margin-left: 5px;
}

.badge-count-notes {
  background-color: fuchsia;
  color: white;
}

.badge-count-checklists {
  background-color: lime;
}

.pages-toc summary {
  outline: none;
}
.pages-toc summary:hover {
  background-color: #f2f2f2;
}

@media screen and (max-width: 668px) {
  .notebook-meta,
.notebook-meta-edit {
    flex-direction: column;
  }
  .notebook-meta .notebook-meta-buttons,
.notebook-meta .buttons,
.notebook-meta-edit .notebook-meta-buttons,
.notebook-meta-edit .buttons {
    margin-top: 5px;
  }

  .notebook-meta-edit .buttons {
    margin-left: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
