.card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
}

.card-page {
  margin: 30px 0px;

  .card-header {
    display: flex;
    justify-content: space-between;

    .left {
      display: flex;
    }
  }

  &.collapsed .card-body {
    display: none;
  }
}

.card-note {
  .content.display-mode-normal {
    .rendered {
      display: block;
    }

    .edit {
      display: none;
    }
  }

  .content.display-mode-edit {
    .rendered {
      display: none;
    }

    .edit {
      display: block;
    }
  }
}


.card-checklist {
  .checklist-item {
    display: flex;
    justify-content: space-between;
  }

  .checklist-item.completed .content {
    text-decoration: line-through;
  }

  .checklist-item-editor {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;

    .input {
      width: 100%;
    }

    .buttons {
      display: flex;
      align-items: center;
      margin-left: 10px;

      button {
        margin: 0px 5px;
      }
    }
  }
}


.notebook-action-list {
  margin-top: 40px;
}

